<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Example</a>
    <a routerLink="/home" routerLinkActive="active" class="navbtn"><span class="fa fa-home fa-lg"></span> Home</a>
    <a routerLink="/table" routerLinkActive="active" class="navbtn"><span class="fa fa-info fa-lg"></span> About</a>
    <span class="flex-spacer"></span>
    <a (click)="openLoginForm()">
        <button class="btn btn-primary">
            <span class="fa fa-sign-in fa-md"></span> Login 
        </button>
    </a>
</nav>
  


    
  

    